<h1>Formation numérique du 20 juin 2024</h1>
<img src="cassin.jpg">
<h2>Programme de l'après-midi</h2>
<ul>
	<li><p style="line-height: 100%; margin-bottom: 0cm">Les APPS
	education nationale</p>
	<ul>
		<li><p style="line-height: 100%; margin-bottom: 0cm">nuage</p>
		<li><p style="line-height: 100%; margin-bottom: 0cm">tube</p>
		<li><p style="line-height: 100%; margin-bottom: 0cm">tchap</p>
		<li><p style="line-height: 100%; margin-bottom: 0cm">forge</p>
		<li><p style="line-height: 100%; margin-bottom: 0cm">….</p>
	</ul>
	<li><p style="line-height: 100%; margin-bottom: 0cm">Lycée connecté</p>
	<li><p style="line-height: 100%; margin-bottom: 0cm">Pix</p>
	<li><p style="line-height: 100%; margin-bottom: 0cm">le serveur
	local</p>
	<li><p style="line-height: 100%; margin-bottom: 0cm">office</p>
	<li><p style="line-height: 100%; margin-bottom: 0cm">Navigateurs</p>
	<li><p style="line-height: 100%; margin-bottom: 0cm">TNI</p>
</ul>